---
import Header from '../components/Header.astro';  
import Banner from '../components/Banner.astro';
import NewsList from '../components/NewsList.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.css'; 
---
<html lang="pt-BR">
  <head>
	<meta charset="UTF-8" />
    <title>Ronaldo Quadrado Vereador - PT</title>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
	  <Header />
    <Banner />
    <main>
      <NewsList />
    </main>
  </body>
  <Footer />
</html>
