<footer class="site-footer">
    <div class="footer-container">
      <p class="footer-text">
        @viajaum - 2025
      </p>
      <p class="footer-open-source">
          <a href="https://github.com/viajaum/ronaldo" target="_blank" class="social-link">
            <i class="fab fa-github"></i> <!-- Ãcone do GitHub -->
      </p>
    </div>
  </footer>