<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <header class="site-header">
    <div class="header-container">
      <a href="/" class="header-logo-link">
        <img src="/estrela.jpg" alt="Logo do site" class="header-logo" />
      </a>
      <nav class="header-nav">
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/fotos">Fotos</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
      <!-- Links para redes sociais -->
      <div class="social-media-links">
        <a href="https://web.facebook.com/ronaldo.quadrado" target="_blank" class="social-link">
          <i class="fab fa-facebook"></i> <!-- Ícone do Facebook -->
        </a>
        <a href="https://x.com/ronaldoquadrado" target="_blank" class="social-link">
          <i class="fab fa-twitter"></i> <!-- Ícone do Twitter -->
        </a>
        <a href="https://www.instagram.com/ronaldoquadrado/" target="_blank" class="social-link">
          <i class="fab fa-instagram"></i> <!-- Ícone do Instagram -->
        </a>
        <a href="https://wa.me/1234567890" target="_blank" class="social-link">
          <i class="fab fa-whatsapp"></i> <!-- Ícone do WhatsApp -->
        </a>
      </div>
    </div>
  </header>
  
  
