---
const { title } = Astro.props; 
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';  
import '../styles/style.css'; 
---
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Meu Site de Notícias"}</title>
    
  </head>
  <body>
	<Header />

    <main class="site-content">
      <slot /> <!-- Aqui o conteúdo específico da página será renderizado -->
    </main>

    <Footer />
  </body>
</html>
